* {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none !important;
  resize: none;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.row {
  margin: auto 0 !important;
}

/* 

Headings, Call-to-actions, Header Navigation
  font-family: "Raleway", sans-serif;

*/

:root {
  /* Primary Colors */
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);

  /* Accent Colors */
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);

  /* Neutral Colors */
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

.nav-right a {
  color: var(--very-dark-blue) !important;
  font-weight: 400;
}

.get-started-left .get-started-heading,
.get-started-left .get-started-paragraph {
  font-family: "Raleway", sans-serif;
  font-weight: 700 !important;
}

.get-started-paragraph {
  font-weight: 400 !important;
  width: 80%;
}

.get-started-right img {
  width: 100%;
}